step-functions/workflow-executor-express.asl.json
{
  "Comment": "Complens.ai Express Workflow Executor - Fast execution for simple workflows (<5 min)",
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Task",
      "Resource": "${WorkflowExecutorFunctionArn}",
      "Parameters": {
        "action": "initialize",
        "workflow_run_id.$": "$.workflow_run_id",
        "workflow_id.$": "$.workflow_id",
        "trigger_data.$": "$.trigger_data",
        "contact_id.$": "$.contact_id",
        "workspace_id.$": "$.workspace_id",
        "execution_type": "express"
      },
      "ResultPath": "$.execution_context",
      "Next": "ExecuteNode",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleError",
          "ResultPath": "$.error"
        }
      ]
    },
    "ExecuteNode": {
      "Type": "Task",
      "Resource": "${WorkflowExecutorFunctionArn}",
      "Parameters": {
        "action": "execute_node",
        "workflow_run_id.$": "$.execution_context.workflow_run_id",
        "workflow_id.$": "$.workflow_id",
        "workspace_id.$": "$.workspace_id",
        "contact_id.$": "$.contact_id",
        "current_node_id.$": "$.execution_context.current_node_id",
        "variables.$": "$.execution_context.variables",
        "execution_type": "express"
      },
      "ResultPath": "$.node_result",
      "Next": "CheckNodeResult",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleError",
          "ResultPath": "$.error"
        }
      ]
    },
    "CheckNodeResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.node_result.status",
          "StringEquals": "completed",
          "Next": "CheckNextNode"
        },
        {
          "Variable": "$.node_result.status",
          "StringEquals": "waiting",
          "Next": "HandleWait"
        },
        {
          "Variable": "$.node_result.status",
          "StringEquals": "error",
          "Next": "HandleError"
        }
      ],
      "Default": "CheckNextNode"
    },
    "HandleWait": {
      "Type": "Choice",
      "Comment": "Express workflows only support short waits (max 5 min total execution)",
      "Choices": [
        {
          "Variable": "$.node_result.wait_seconds",
          "NumericLessThanEquals": 60,
          "Next": "ShortWait"
        }
      ],
      "Default": "EscalateToStandard"
    },
    "ShortWait": {
      "Type": "Wait",
      "SecondsPath": "$.node_result.wait_seconds",
      "Next": "ResumeAfterWait"
    },
    "EscalateToStandard": {
      "Type": "Task",
      "Resource": "${WorkflowExecutorFunctionArn}",
      "Comment": "Waits >60s need Standard workflow - reschedule via queue",
      "Parameters": {
        "action": "schedule_resume",
        "workflow_run_id.$": "$.execution_context.workflow_run_id",
        "workflow_id.$": "$.workflow_id",
        "workspace_id.$": "$.workspace_id",
        "contact_id.$": "$.contact_id",
        "next_node_id.$": "$.node_result.next_node_id",
        "wait_seconds.$": "$.node_result.wait_seconds",
        "variables.$": "$.node_result.variables",
        "escalate_to_standard": true
      },
      "End": true,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleError",
          "ResultPath": "$.error"
        }
      ]
    },
    "ResumeAfterWait": {
      "Type": "Task",
      "Resource": "${WorkflowExecutorFunctionArn}",
      "Parameters": {
        "action": "resume_after_wait",
        "workflow_run_id.$": "$.execution_context.workflow_run_id",
        "workflow_id.$": "$.workflow_id",
        "workspace_id.$": "$.workspace_id",
        "contact_id.$": "$.contact_id",
        "current_node_id.$": "$.node_result.next_node_id",
        "variables.$": "$.node_result.variables",
        "execution_type": "express"
      },
      "ResultPath": "$.node_result",
      "Next": "CheckNodeResult",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleError",
          "ResultPath": "$.error"
        }
      ]
    },
    "CheckNextNode": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.node_result.next_node_id",
          "IsPresent": true,
          "Next": "CheckNextNodeNotNull"
        }
      ],
      "Default": "CompleteWorkflow"
    },
    "CheckNextNodeNotNull": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.node_result.next_node_id",
          "IsNull": false,
          "Next": "PrepareNextNode"
        }
      ],
      "Default": "CompleteWorkflow"
    },
    "PrepareNextNode": {
      "Type": "Pass",
      "Parameters": {
        "workflow_id.$": "$.workflow_id",
        "workspace_id.$": "$.workspace_id",
        "contact_id.$": "$.contact_id",
        "execution_context": {
          "workflow_run_id.$": "$.execution_context.workflow_run_id",
          "current_node_id.$": "$.node_result.next_node_id",
          "variables.$": "$.node_result.variables"
        }
      },
      "Next": "ExecuteNode"
    },
    "CompleteWorkflow": {
      "Type": "Task",
      "Resource": "${WorkflowExecutorFunctionArn}",
      "Parameters": {
        "action": "complete",
        "workflow_run_id.$": "$.execution_context.workflow_run_id",
        "workflow_id.$": "$.workflow_id",
        "workspace_id.$": "$.workspace_id",
        "status": "completed",
        "variables.$": "$.node_result.variables",
        "execution_type": "express"
      },
      "End": true
    },
    "HandleError": {
      "Type": "Task",
      "Resource": "${WorkflowExecutorFunctionArn}",
      "Parameters": {
        "action": "complete",
        "workflow_run_id.$": "$.execution_context.workflow_run_id",
        "workflow_id.$": "$.workflow_id",
        "workspace_id.$": "$.workspace_id",
        "status": "failed",
        "error.$": "$.error",
        "execution_type": "express"
      },
      "End": true
    }
  }
}
